<?xml version="1.0" encoding="UTF-8"?>
<configuration>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="app.js" verb="*" modules="iisnode" resourceType="Unspecified" preCondition="bitness64" />
    </handlers>
    <rewrite>

      <rules>
        <clear />
        <rule name="nodejs" patternSyntax="Wildcard" stopProcessing="true">
          <match url="*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <serverVariables>
            <set name="HTTP_X_FORWARDED_FOR" value="{REMOTE_HOST}" replace="false" />
          </serverVariables>
          <action type="Rewrite" url="app.js" logRewrittenUrl="true" />
        </rule>
      </rules>
    </rewrite>
    <iisnode nodeProcessCountPerApplication="0" enableXFF="false" promoteServerVars="X_FORWARDED_FOR" />
  </system.webServer>

</configuration>
